<div class="modal-header" data-ng-controller="eSignController" style="padding:0;">
    <h3 class="modal-title">Supporting Documents</h3>
</div>
<div class="modal-body">
    <table>
        <tr>
            <th>Sr. No.</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Documents</th>
        </tr>
        <tr style="text-align:center;">
            <td>1</td>
            <td>Simran</td>
            <td>simran@lexstart.in</td>
            <td>
                <a ng-click="docList()" href="#">View All</a>
            </td>
        </tr>
    </table>
</div>