<style>
  header {
    display: none;
  }

  .content {
    width: 100%;
  }

  .container{
    margin: 20px auto;
    text-align: center;
  }

  .container h3 {
    font-weight: 300;
    margin: 0px 0px 25px;
    text-decoration: underline;
    margin-bottom: 50px;
  }
  .form-wrapper{
    text-align: center
  }
  .signin{
    max-width: 40%;
    margin: 0 auto;
  }

  .links-wrapper2 {
    display: none;
  }

  .td2 {
    padding: 19px;
  }

  .btn-proceed {
    font-size: 14px;
  }

  table td {
    text-align: center;
    vertical-align: middle;
  }

  .signin input {
    max-width: 300px;
  }

  .signin ::-webkit-input-placeholder {
    text-transform: none;
    font-size: 13px;
  }

  .signin ::-ms-input-placeholder {
    text-transform: none;
    font-size: 13px;
  }

  .signin ::-o-input-placeholder {
    text-transform: none;
    font-size: 13px;
  }

  .signin ::-moz-input-placeholder {
    text-transform: none;
    font-size: 13px;
  }
</style>
<div ng-controller="AuthenticationController">
  <div class="container">
    <h3> E-Sign Process</h3>
    <div class="form-wrapper">
      <form name="userForm" ng-submit="esign()" class="signin" novalidate>
        <div class="row">
          <div class=" col-md-8 form-group" show-errors>
            <!-- <label for="email">Email</label>> -->
            <input type="email" id="email" name="email" class="form-control" ng-model="esigndocmodel.email" placeholder="Enter a valid email address"
              lowercase required>
          </div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Search </button>
          </div>
        </div>
      </form>
    </div>
    <div class="links-wrapper2">
      <table>
        <thead>
          <tr>
            <td colspan="3">
              <h5> {{url2.length}} Records Found ! </h5>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>

            <th>Name</th>
            <th>E-mail</th>
            <th>Time</th>
            <th>Sign-Status</th>
            <th></th>
          </tr>
          <tr ng-repeat="items in url2">
            <td class="td2">{{items.name}}</td>
            <td>{{items.email}}</td>
            <td>{{items.created | date: 'MMMM d, y'}}</td>
            <td>{{items.signed}}</td>
            <td>
              <input type="button" class="btn btn-default btn-sm btn-info btn-proceed" value="Proceed" ng-click="esignproceed(items)" />
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
</div>